.CarsPage{
    display: flex;
    gap: 20px;
    max-width: 1260px;
    min-width: 980px;
    width: 80%;
    margin: 0 auto;
}
.CarsPage .carsNavbar{
    width: 18%;
    font-size: 16px;
}
.CarsPage .carsNavbar .params{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0d7d7;
    padding: 10px;
}
.CarsPage .carsNavbar .carType{
    position: relative;
}
.CarsPage .carsNavbar .carType p{
    position: absolute;
    top: -30px;
}
.CarsPage .carsNavbar .carType .carBody{
    border: 1px solid rgb(236, 223, 223);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.CarsPage .carsNavbar .hidden{
    display: none;
}
.CarsPage .carsNavbar .show{
    display: block;
}
.CarsPage .carsNavbar .upIcon{
    display: none;
}
.CarsPage .carsNavbar .findClose{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-top: 20px;
}
.CarsPage .carsNavbar .findClose .findSpan{
    background-color: #1172b6;
    text-align: center;
    padding: 20px 25px;
    width: 80%;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
}
.CarsPage .carsNavbar .findClose .closeSpan{
    font-size: 41px;
    color: #fff;
    background: #000;
    /* text-align: center; */
    padding: 9px 10px 4px 10px;
    border-radius: 5px;
}
.CarsPage .carsHeaderContainer{
    flex-grow: 3;
}
.CarsPage .carsHeaderContainer .carsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    gap: 20px;
    font-size: 15px;
    color: #727272;
}
.CarsPage .carsHeaderContainer .carsHeader .filterByType{
    border: 1px solid rgb(236, 223, 223);
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.CarsPage .carsHeaderContainer .carsHeader .buyers{
    flex-grow: 2;
    display: flex;
    gap: 15px;
}
.CarsPage .carsHeaderContainer .carsHeader .buyers input{
   width: 22px;
   height: 22px;
}
.CarsPage .carsHeaderContainer .carsHeader .carsIcons{
    flex-grow: 1;
}


.CarsPage .carsHeaderContainer .content{
    margin: 0;
    align-items: center;
}


.CarsPage .carsHeaderContainer .content .contentDiv{    
    background-color: aqua;
    width: calc(100% - 20px);
    height: 126px;
    margin: 10px ;
}

.CarsPage .carsHeaderContainer .content .contentDiv:hover{
    box-shadow: 0px 3px 8px rgb(180 184 189);
}