*{
    box-sizing: border-box;
}

.filter{
    width: 150px;
    border:1px solid #E8EBF0;
    padding: 1px;
}

.filter .button{
    padding: 10px 10px;
    background-color: white;
}

.dropDown{
    display: none;
    /* clip-path: polygon(0 0, 100%  0, 100% 0, 0 0); */
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right:20px ;
    width: 150px;
}

.dropDown.active{
    display: flex;
    flex-direction: column;    
    box-shadow: .1rem .1rem .5rem rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, .10);    
    position:absolute;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
}

.dropDown input{
    width: 150px;
    border: none;
    border-bottom: 1px solid blue;
    padding: 5px 10px;
    outline: none;
}

.dropDown div{    
    background-color:rgba(255, 255, 255, .8);    
    padding: 5px 10px;
    height: 30px;
}

.dropDown div:hover{    
    background-color:rgb(207, 229, 243);  
    cursor: pointer;  
}

.dropDown .active{    
    background-color:rgb(221, 221, 221);
}