.carsCard {
    margin: 7px 10px 24px;
    box-shadow: 0px 3px 8px rgb(180 184 189 / 15%);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    width: 98%; 
    overflow: hidden;
}

.carsCard_item {
    display: flex;
    flex-direction: column;
}

.carsCard .img {
    height: 126px;
    width: 168px;
}

.carsCard .img img {
    height: 100%;
    width: 100%;
}

.carsCard .obshi_item{
    min-width: 470px;
    padding: 5px 18px;
}

.carsCard .info {
    width: 100%;
    padding: 6px 20px;
    display: flex;
    gap: 150px;
}

.carsCard .arajTox {
    display: flex;
    gap: 25px;
}

.carsCard .arajTox p {
    color: #1172b6 !important;
    text-transform: uppercase;
}

.carsCard .arajTox .date {
    color: #727272 !important;
}

.carsCard:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carsCard .price {
    width: 23%;
    font-size: 13px;
    padding: 0 6px 8px;;
    position: relative;
    left: 25px;
    padding: 5px 20px;
    background-color: #fafbfc;
    border-left: 1px solid f7f7f7;
}

.carsCard .price p {
    font-size: 20px;
    color: red;
    text-transform: uppercase;
}

.carsCard .about {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carsCard .about p {
    max-width: 430px;
    width: 100%;
}

.carsCard .about p span {
    font-weight: bold;
}

.carsCard .about_item {
    display: flex;
    gap: 10px;
}

.carsCard .about_item .date {
    background-color: aliceblue;
    color: grey;
    padding: 2px 6px;
    border-radius: 6px;
    font-family: Noto Sans Armenian, Noto Sans, sans-serif;
}

.carsCard .about_item .country {
    color: #795548 ;
}

.carsCard .about_item .maqs {
    color: #4CAF50 ;
}

.carsCard .about_item .maqs.no{
    color: red;
}