.searchBar {
    width: 50%;
    position: relative;
}

.searchBar form {
    display: flex;
    width: 100%;
    /* margin: 0 100px; */
    align-items: center;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
}

.searchBar form:hover {
    border: 1px solid #7298b3;
}

.searchBar form input {
    margin: 2px;
    padding: 11px 15px;
    height: auto;
    background: #FFF;
    width: 100%;
    font-size: 1rem;
}

.searchBar form input::placeholder {
    color: #e7eaed;
}

.searchBar form button {
    background: #FFF;
}

.searchBar form i {
    color: #e7eaed;
}

.searchBar form i:hover {
    box-shadow: none;
    color: #7298b3;
}

.searchBar .dropDown {
    position: absolute;
    max-height: 400px;
    width: 100%;
    background-color: white;
}

.searchBar .dropDown .search_item{
    padding: 11px 15px;
    font-size: 1rem;
}

.searchBar .dropDown .search_item:hover{
    cursor: pointer;
    background-color: #1172b6;
    color: white;
}