.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-item {
    display: inline-block;
}

.pagespannk {
    font-size: 1rem;
    background-color: #f1f1f1;
    min-width: 40px;
    margin: 0 2px;
    padding: 6px 14px;
    text-decoration: none;
    line-height: 30px;
    color: #444;
    border-radius: 2px;
}

.pagespannk.grey{
    background-color: #a5afb6
}

.pagespannk.active:not(.btn){
    background-color: #ff5252;
    color: #FFF;
}

.page-item a:hover:not(.active) {
    background-color: #ff5252;
    color: #FFF;
}

.pagination .page-item i {
    padding: 0 10px;
}

.pagination .btn.active {
    display: block;
    padding: 0px 14px;
}

.pagination .btn.active:hover {
    cursor: pointer;
    background-color: #ff5252;
    color: #FFF;
}

.pagination .btn {
    display: none;
}
