* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    transition: all .2s linear;
    text-transform: capitalize;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9%;
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .3);
    background-color: rgba(255, 255, 255, .95);
}

.header .diler {
    display: flex;
    align-items: center;
}

.header i {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0;
    color: #8695a4;
    background: none;
}

.header i:hover {
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0, .3);
    cursor: pointer;
}

.header .menu {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}

.header .menu i {
    color: rgba(0, 0, 0, .7);
}

.header .menu a span {
    color: rgb(221, 63, 63);
}

.header .btn {
    display: inline-block;
    background: #1172b6;
    color: #f9f9f9;
    border: .2rem solid var(--orange);
    cursor: pointer;
    font-size: 1rem;
    padding: 0 2rem;
    border-radius: 4px;
    min-height: 36px;
    line-height: 44px;
}

.header .btn:hover {
    box-shadow: 0 .3rem .3rem rgba(0, 0, 0, .3)
}

.header .massageBar {
    position: fixed;
    top: 0;
    right: -120%;
    width: 100%;
    min-height: 100vh;
    z-index: 1001;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header .massageContent {

    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    height: 100vh;
    background-color: rgb(247, 247, 248);
    width: 23%;
    align-items: center;
    justify-content: space-around;

}

.header .massageContent i {
    font-size: 3rem;
    color: rgb(221, 63, 63);
    ;
}

.header .massageBar.open {
    right: 0;
    transition: all .3s linear;
    background: rgba(3, 3, 3, 0.3);
}

.header .logoContainter {
    display: flex;
    align-items: center;
}

.header .logoContainter .logo {
    background: url(https://auto.am/assets/img/logo.svg) center no-repeat;
    width: 195px;
    height: 45px;
}