.footer_menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #e5eaef3d;
    padding: 20px 0;
}

.footer_menu a{
    text-decoration: none;
    color: #6097bd;
}

.footer_menu a:hover{
    color: red;
}

.footer_logo{
    position: relative;
    top: 30px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo p{
    color: lightgray;
    position: relative;
    top: 10px;
}

span{
    color: lightgray;
}

span a{
    font-size: 17px;
    text-decoration: none;
    color: rgb(216, 16, 16);
}