

.carItem .obshi {
    max-width: 200px;
    box-shadow: 0px 3px 8px rgb(180 184 189 / 15%);
    border-radius: 4px;
}

.carItem img {
    /* border: 1px solid red; */
    height: 150px;
    width: 200px;
}

.carItem .info {
    padding: 10px;
}

.carItem .arajTox,
.carItem .Ekrordtox {
    display: flex;
    align-items: center;
}

.carItem .arajTox {
    gap: 10px;
}

.carItem .arajTox p {
    color: #1172b6 !important;
    text-transform: uppercase;
}

.carItem .Ekrordtox {
    justify-content: space-between;
}

.carItem .obshi:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}